body {
    background-color: #141619;
}
h1{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}
.target {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px greenyellow solid;
    background-color: greenyellow;
    position: absolute;
}